{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 120,
    "bracketSpacing": true,
    "semi": true,
    "quoteProps": "consistent",
    "arrowParens": "always",
    "overrides": [
        {
            "files": ["*.json", "*.jsonc"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": { "tabWidth": 2, "printWidth": 80 }
        }
    ]
}
